#dataclasses>=0.8
dataclasses-json=0.5.3
flowpipe>=0.9.0
jsonpickle>=2.0.0
pandas>=1.1.5
scikit-learn>=0.24.1

# metrics
radon>=4.5.0
flake8>=3.9.1
flake8-cognitive-complexity>=0.1.0
cognitive-complexity>=1.2.0

# Flask Framework
click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==1.0.1

# Flask Packages
Flask-Login==0.4.0
Flask-Migrate==2.0.2
Flask-Script==2.0.5
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
Flask-User==1.0.1.5
Flask-Microservices==0.34.5

# REST Client
requests==2.25.1

# Plots
matplotlib==3.4.2
seaborn==0.11.1